<!doctype html>
<head>
<title></title>
  <link href="/style.css" media="screen" rel="stylesheet" type="text/css" /> 
</head>
<body>
  <div id="header">
    <div class="headerContent">
      <h1><span>ReCommerce</span> By Zappos</h1>
    </div>
  </div>
  <div id="content">
    <div class="mainBody">
      <h2>This is some info about the hackday!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet nunc enim. Aliquam posuere accumsan nibh, non fermentum dolor hendrerit eget. Vestibulum rhoncus molestie pulvinar. Suspendisse in nisl velit, eleifend ultrices lorem. Sed interdum mauris eget est blandit scelerisque. Curabitur scelerisque diam nec tellus sollicitudin ut interdum eros laoreet. Quisque blandit urna vitae dolor elementum vulputate quis et leo. Curabitur eget sem non ipsum hendrerit blandit eget quis dui. Pellentesque a nibh non mi blandit convallis at non leo. Phasellus id nunc purus. Quisque tristique porta nibh elementum molestie. Curabitur tempus diam sit amet nisl scelerisque vel auctor ipsum posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet nunc enim. Aliquam posuere accumsan nibh, non fermentum dolor hendrerit eget. Vestibulum rhoncus molestie pulvinar. Suspendisse in nisl velit, eleifend ultrices lorem. Sed interdum mauris eget est blandit scelerisque. Curabitur scelerisque diam nec tellus sollicitudin ut interdum eros laoreet. Quisque blandit urna vitae dolor elementum vulputate quis et leo. Curabitur eget sem non ipsum hendrerit blandit eget quis dui. Pellentesque a nibh non mi blandit convallis at non leo. Phasellus id nunc purus. Quisque tristique porta nibh elementum molestie. Curabitur tempus diam sit amet nisl scelerisque vel auctor ipsum posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet nunc enim. Aliquam posuere accumsan nibh, non fermentum dolor hendrerit eget. Vestibulum rhoncus molestie pulvinar. Suspendisse in nisl velit, eleifend ultrices lorem. Sed interdum mauris eget est blandit scelerisque. Curabitur scelerisque diam nec tellus sollicitudin ut interdum eros laoreet. Quisque blandit urna vitae dolor elementum vulputate quis et leo. Curabitur eget sem non ipsum hendrerit blandit eget quis dui. Pellentesque a nibh non mi blandit convallis at non leo. Phasellus id nunc purus. Quisque tristique porta nibh elementum molestie. Curabitur tempus diam sit amet nisl scelerisque vel auctor ipsum posuere.
      </p>
      <p>
        Phasellus ut lacus ante. Praesent nec sapien massa. Praesent arcu velit, viverra vel placerat nec, fringilla vitae arcu. Suspendisse leo nisl, dictum vitae lobortis vitae, sodales ullamcorper odio. Vestibulum congue, libero sit amet accumsan vestibulum, ante justo ultrices ante, condimentum porta eros lacus ac sem. Aliquam consequat diam turpis. Quisque augue nibh, molestie at congue pellentesque, placerat sit amet nisi. Morbi leo nibh, tincidunt in egestas in, molestie vitae tortor.
      </p>
      <p>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam sed risus vel sapien euismod lobortis. Integer quis elementum massa. Morbi urna ante, volutpat sed eleifend quis, commodo et lectus. Aliquam et magna tellus. Pellentesque consectetur mauris in urna sodales commodo. Nulla facilisi. In nec eros a turpis tempor interdum. Donec malesuada tincidunt leo ut posuere. Ut vitae venenatis massa.
      </p>
    </div>
    <div class="secondaryBody">
      <h4>Sponsors</h4>
      <ul>
        <li>Zappos</li>
        <li>Zappos</li>
        <li>Zappos</li>
        <li>Zappos</li>
        <li>El Cortez</li>
      </ul>
    </div>
  </div>

  <div id="footer">
    <div class="footerContent">
      <ul>
        <li><a href="">faq</a></li>
        <li><a href="">blog</a></li>
        <li><a href="">stuff</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
